h1{
    font-style: bold;
}

.header {
    background-color: #0D324D;
    color:#fff;
    display:flex;
    justify-content: space-between;
     
    
}
.nav a{
    color:#fff;
    text-decoration : none;

}
.nav {
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    

}