{% extends 'base.html'%}
{% import 'macros.html' as macro%}

!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container-fluid text-center" id="sourcess">
    <div class="container">
        <h3 class="text-center" >Welcome to news in an instant</h3>
    <hr>
    </div>
    
    <!--General Sources section-->
    <h2> General Sources</h2>
    <div class="all-gen-items">
        
            {{macro.displayNewsSources(general)}} 
        
    </div>
       
    
    <!--Business Sources section-->
    <h2 id="business" >Business Sources</h2>
    <div class="all-gen-items">
        <p>
            {{macro.displayNewsSources(business)}}
        </p>
    </div>
    <!--Technology Sources section-->
    <h2 id="technology">Technology Sources</h2>
    <div class="all-gen-items">
        <p>
            {{macro.displayNewsSources(technology)}}
        </p>
    </div>
    <!--Sports Sources section-->
    <h2 id="sports">Sports Sources</h2>
    <div class="all-gen-items">
        
        {{macro.displayNewsSources(sports)}} 
    
</div>
    <!--Entertainment Sources section-->
    <h2 id="ent">Entertainment Sources</h2>
    <div class="all-gen-items">
        
        {{macro.displayNewsSources(entertainment)}} 
    
</div>
    <!--Health Sources section-->
    <h2 id="health">Health Sources</h2>
    <div class="all-gen-items">
        
        {{macro.displayNewsSources(health)}} 
    
    </div>
    <!--Science Sources section-->
    <h2 id="science">Science Sources</h2>
    <div class="all-gen-items">
        
        {{macro.displayNewsSources(science)}} 
    
    </div>

</div>

{% endblock%}